<div class='buyplan-content'>
    <?php if($this->getMessages()): ?>
        <?php foreach($this->getMessages() as $message): ?>
            <div class='errors'>
                <div class='alert alert-danger'><p style='color:red'><?= $message ?></p></div>
            </div>
        <?php endforeach; ?>
    <?php else: ?>
        <div style="width:200px;margin:auto;margin-top:20px">
            <img style="width:100%" src="<?php echo $block->getViewFileUrl('BuyPlanEstonia_BuyPlanPayment::images/spinner.gif'); ?>">
            <center>Redirecting you to BuyPlan</center>
        </div>
        <?php echo $this->getBuyPlanHtml(); ?>
    <?php endif; ?>
</div>
